.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*.row {
    width: auto;
    padding: 10px;
    border: 1px solid #e0e0e0;
}*/

.auth-main{
  background: #2c90ed;
}
.auth-box {
    height: auto;
    text-align: center;
}  

.register-box {
    padding: 15px;
    width: 500px;
    height: 600px;
    margin: 10px;
}

.page-loader-wrapper {
  background: rgba(0, 0, 0, 0.5) !important;
}

.form-label {
    font-weight: normal;
}

.form-control, .form-control-sm, .form-select-sm {
  border: 1px solid #D2D3D3;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .myaddon {
  position: absolute;
  padding: 5px;
  pointer-events: none;
}

/* align glyph */
.left-addon .myaddon  { left:  0px;}
.right-addon .myaddon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


.form-control-sm {
  min-height: calc(0.9em + (0.2rem + px));
  padding: 0.2rem 0.3rem;
  font-size: 0.745rem;
  border-radius: 0.2rem;
}

.form-select-sm {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: 0.745rem;
}
.table th, td{
  font-size: 11px;
}
.table td {
  padding: 5px !important;
}

.items th, td{
  font-size: 13px;
}
.items td {
  padding: 5px;
}
#searchResult{
    list-style: none;
    padding: 0px;
    width: 100%;
/*    position: absolute;*/
    margin: 0;
/*    z-index: 9999;*/
}

#searchResult li{
    background: #ffffff;
    padding: 4px;
    margin-bottom: 1px;
    border-bottom: 1px solid #a9dfbf;
}

#searchResult li:nth-child(even){
/*    background: cadetblue;*/
/*    color: white;*/
}

#searchResult li:hover{
    cursor: pointer;
}
#searchResult2 li:hover{
    cursor: pointer;
}

#searchServiceResult{
    list-style: none;
    padding: 0px;
    width: 80%;
    position: absolute;
    margin: 0;
    z-index: 9999;
}

#searchServiceResult li{
    background: #ebfadf;
    padding: 4px;
    margin-bottom: 1px;
/*    border-bottom: 1px solid #a9dfbf;*/
}

#searchServiceResult li:nth-child(even){
/*    background: cadetblue;*/
/*    color: white;*/
}

#searchServiceResult li:hover{
    cursor: pointer;
}


#searchResult2{
    list-style: none;
    padding: 0px;
/*    width: 100%;*/
    position: absolute;
    margin: 0;
    z-index: 9999;
}

#searchResult2 li{
    background: #d6eaf8;
    padding: 4px;
    margin-bottom: 1px;
/*    border-bottom: 1px solid #a9dfbf;*/
}

#searchResult2 li:nth-child(even){
/*    background: cadetblue;*/
/*    color: white;*/
}

#searchResult2 li:hover{
    cursor: pointer;
}

#searchResult3{
    list-style: none;
    padding: 0px;
    width: 80%;
    position: absolute;
    margin: 0;
    z-index: 9999;
}

#searchResult3 li{
    background: #d6eaf8;
    padding: 4px;
    margin-bottom: 1px;
/*    border-bottom: 1px solid #a9dfbf;*/
}

#searchResult3 li:nth-child(even){
/*    background: cadetblue;*/
/*    color: white;*/
}

#searchResult3 li:hover{
    cursor: pointer;
}

.select2{
    border-radius: 5px;
    border: 1px solid grey;
    padding-top: 2px;
    height: 27px;
}

.parent-icon i {
  font-size: 12px;
}

i{
  font-size: 12px;
}

/*Printable pages Preview Pages*/
.print_invoice table {
  border-collapse: none !important;
}
.print_invoice table td, th {
  padding: 5px;
  font-size: 11px;
  border: none;
}
.print_invoice textarea{
  border: 1px solid #ffffff;
  overflow: hidden;
  resize: none;
  width: 100%;
  border-radius: .25rem;
}
.print_invoice textarea:hover, focus{
  background: rgba(59, 24, 95,.1);
  border: 1px solid  #0061A8;
  box-shadow: none;
  outline: 0;
}

.print_invoice .address {
  float: left;
  width: 250px;
  height: 150px;
}

.print_invoice .customer {
  overflow: hidden;
}
.print_invoice .customer .customer-title {
  float: left;
  width: 250px;
  font-size: 20px;
  font-weight: 700;
}
.print_invoice .delete-wpr {
  position: relative
}    
.print_invoice .delete {
  background: #f0f0f0;
  color: $color-danger;
  display: block;
  text-decoration: none;
  position: absolute;
  padding: 0 5px;
  top: 3px;
  left: -22px;
  font-size: 11px;
}
.print_invoice .delete:hover{
  background: $color-danger;
  color: $white;
}
.print_invoice #logo {
  text-align: right;
  float: right;
  position: relative;
  overflow: hidden;
  margin-top: 25px;
  max-width: 540px;
  max-height: 100px;
}
.print_invoice #logo:hover, .print_invoice #logo .edit {
  border: 1px solid #f0f0f0;;
  margin-top: 0;
  max-height: 125px;
}
.print_invoice #logo .edit #logoctr {
  background: #d6eaf8;
  display: block;
  text-align: right;
  line-height: 25px;
  padding: 0 5px;
}
.print_invoice #logo #logoctr {
  display: none;
}

.print_invoice #logohelp {
  text-align: left;
  display: none;
  font-style: italic;
  padding: 10px 5px;
}
.print_invoice #logohelp input {
  margin-bottom: 5px;
}
.print_invoice .edit #logohelp {
  display: block;
}
.print_invoice .edit #save-logo, #cancel-logo {
  display: inline;
}

.print_invoice .edit #image, #save-logo, #cancel-logo, .edit #change-logo, .edit #delete-logo {
  display: none;
}
    
.print_invoice .meta {
  float: right;
  margin-top: 1px;
  width: 300px;
}
.print_invoice .meta td {
  text-align: right;
}
.print_invoice .meta td .meta-head {
  background: #d6eaf8;
  text-align: left;
}
.print_invoice .meta td .due{
  padding-right: 13px;
}
.print_invoice .meta td textarea {
  height: 20px;
  text-align: right;
}
.print_invoice .items {
  clear: both;
  width: 100%;
  margin: 30px 0 0;
}
.print_invoice .items th {
  background: #d6eaf8;
}
.print_invoice .items tr.item-row td {
  vertical-align: top;
}
.print_invoice .items td.item-name {
    width: 150px;
}
.print_invoice .items td.description {
    width: 280px;
}
.print_invoice .items td.total-line {
    text-align: right;
    border-right: 0;
}
.print_invoice .items td.total-value {
    padding: 5px;
}
.print_invoice .items td.balance {
    background: #d6eaf8;
}
.print_invoice .items td.blank {
    border: 0;
}

.print_invoice .list-items {
  border: 1.5px solid gray;
  clear: both;
  width: 100%;
  margin: 30px 0 0;
}
.print_invoice .list-items th {
  background: #eff6fb;
  border-bottom: 1px solid black; 
  font-weight: bold;
}
.print_invoice .list-items td {
  background: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  font-size: 11px !important;
}

.blank_row
{
    height: 100px !important; /* overwrites any other rules */
    background-color: #FFFFFF;
}

@media only screen and (max-width: $break-medium) {
    .print_invoice .items td.description{
        width: 220px;
    }  
}

@media print {
    body * {
        visibility: hidden;
        margin: 0;
        color: #000;
        background-color: #fff;
    }
    .print_invoice {
        position: absolute;
        left: 0;
        top: 0;
    }
    .print_invoice * {
        visibility: visible;
    }
    .print_invoice * #hiderow, .delete {
        display: none;
    }
    
    .print_invoice .footer-note .form-control{
        padding: 0;
    }
    .print_invoice .navigation, .sidebar{
        display: none;
    }

    .print_invoice .header-title {
        background-color: #2874a6 !important;
        print-color-adjust: exact; 
    }
}

.row.make-columns {
    -moz-column-width: 19em;
    -webkit-column-width: 19em;
    -moz-column-gap: 1em;
    -webkit-column-gap:1em; 
}
.row.make-columns > div {
    display: inline-block;
    padding:  .5rem;
    width:  100%; 
} 

#scroll-content {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: scroll;
}

.product-img {
    width: 50px;
}


.product-details img {
  max-width: 100%; }

.product-details .preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
@media screen and (max-width: 996px) {
    .product-details .preview {
      margin-bottom: 20px; } }

.product-details .preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-details .preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px;
  align-items: center; }
  .product-details .preview-thumbnail.nav-tabs li {
    width: 50%;
    list-style: none;
    margin-right: 2.5%;
    align-items: center; }
    .product-details .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .product-details .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .product-details .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.product-details .tab-content {
  overflow: hidden; }
  .product-details .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.product-details .card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {

.product-details .details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: capitalize;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

/*# sourceMappingURL=style.css.map */

.order-success-sec {
    background-color: #f9f9f9;
    padding: 25px;
}
.order-success-sec h4 {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 16px;
}
.order-success-sec .order-detail li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-transform: capitalize;
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 3px;
    color: #777;
}
.order-success-sec .payment-mode p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
    letter-spacing: 0.05em;
}
.delivery-sec {
    margin-bottom: -5px;
    padding: 0;
    margin-top: 20px;
    background-color: transparent;
}
.delivery-sec h3 {
    color: #000000;
    text-transform: capitalize;
    font-size: 18px;
    margin-bottom: 0;
}
.delivery-sec h3 span {
    font-weight: 700;
    margin-left: 5px;
}
.delivery-sec a {
    font-size: 16px;
    text-transform: capitalize;
    margin-top: 5px;
    display: block;
    font-weight: 600;
}

